<div class="input">
    <input id="{{label}}" class="input__element" placeholder="" type="{{type}}" />
    <label for="{{label}}" class="input__label">{{label}}</label>
    {{#if errorMessage }}
        <span class="input__error">{{errorMessage}}</span>
    {{/if}}
</div>
