<button class="button button_{{type}} {{#if textColor}}button_textColor_{{textColor}} {{/if}}{{#if fontSize}}button_fontSize_{{fontSize}}{{/if}}">
    {{#if (contains type "icon")}}
        {{> SvgIcon iconType=type src=source }}
    {{else if (eq type "primary")}}
        <span>{{label}}</span>
    {{else}}
        {{label}}
    {{/if}}
</button>